<section id="form"><!--form-->
    <div class="container">
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>Post a answer here</h2>
                    <form method="POST">
                        {% csrf_token %}
                       
                        {% for form in form %}
                        {{form.label_tag}} {{ form}} {{form.error|striptags}}
                         {% endfor %}
                         <button class="btn btn-outline-warning"  type="submit">Post</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->